.metadata
.loadpath
tmp/
*.tmp

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Compiled Files #
*.class
doc/
bin/
build/
dist/
sysProps.xml

# Text Backup Files #
*.sw[a-z]
*~
\#*\#
.\#*
*.bak

# OS X Files #
.DS_Store
._*
.Spotlight*
.Trashes

# Windows Files #
Thumbs.db
ehthumbs.db
